# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.*.local
*.pem
*.key
.tools/
.venv
venv/
ENV/

# Databases
*.db
*.sqlite3

# Temp media folders
temp_media/
smm_database.db

# IDE configurations
.idea/
.vscode/
.project
.pydevproject
.aider*
